
<!DOCTYPE html>
<html>
<head>
    <title>Microservices Student Affairs</title>
</head>
<body>
    <h1>Microservices Student Affairs</h1>
    <ul>
        <li><a asp-controller="Home" asp-action="ShowStudentList">Öğrenci Listesi</a></li>
        <li><a asp-controller="Home" asp-action="ShowLessonList">Ders Listesi</a></li>
    </ul>
</body>
</html>
